<%- include('../partials/header') -%>

<body>
  <div class="ui inverted pointing menu stackable">
    <a href="/" class="item">
      <i class="home icon"></i> Accueil
    </a>

    <a href="/articles" class=" item">
      <i class="file alternate icon"></i> Articles
    </a>
    <!-- menu that shows only for the admin -->
    <a href="/users" class="active item">
      <i class="user icon"></i> Utilisateurs
    </a>

    <a href="/articles/create" class="item">
      <i class="plus icon"></i> Créer un nouvel article
    </a>
    
  
    <!-- Notification icon indicating the user is logged in -->
    <div class="right menu">
      <div class="item">
        <i class="lightbulb lit icon"></i> Connecté
      </div>
      <!-- Option to log out -->
      <a href="/logout" class="item">
        <i class="lock icon"></i> Déconnexion
      </a>
    </div>
  </div>
      

  <div class="ui segment">
    <h2 class="ui header">Liste des utilisateurs</h2>
    <div class="ui divider"></div>
    <table class="ui selectable celled table">
      <thead>
        <tr>
          <th>Nom</th>
          <th>E-mail</th>
          <th>Rôle</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach((user) => { %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td>
              <% if (user.role) { %>
                <div class="ui green label">👤 Admin</div>
              <% } else { %>
                <div class="ui grey label">User</div>
              <% } %>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
  
  


  <%- include('../partials/footer') -%>